@font-face {
    font-family: "prompt";
    src: url(res/Prompt.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    font-family: "prompt";
    width: 100%;
}
header{
    height: 130px;
    background-color: rgb(15, 15, 15);
    box-shadow: 1px 1px 2px rgba(114, 114, 114, 0.288);
    display: block;
}
header img{
    margin: 10px auto;
    opacity: 0;
}
main{
    margin: 10px auto 0px auto;
    display: block;
}
div#home{
    text-align: center;
    width: 950px;
    height: 500px;
    margin: 40px auto;
}
div#imagem{
    display: flex;

}
div#mensagem{
    margin: auto 20px;
    margin-left: 50px;
}
#mensagem h3{
    display: inline;
    margin: 20px;
}
img#eu{
    margin-left: 0;
}
div#about-buttons{
    margin: 25px auto 0px auto;
    
}
div#about-buttons h2{
    display: inline;
    border: 2px solid rgb(15, 15, 15);
    margin: 20px;
    padding: 2px 5px;
}
div#about-buttons a{
    text-decoration: none;
    color: black;
}
div#sobre{
    height: 650px;
    display: flex;
    margin-bottom: 30px;
}
div#caracteristicas{
    width: 650px;
    border-right: 1px solid rgb(15, 15, 15);
    margin: 20px 0px 20px 150px;
    padding: 100px 0px;
    text-align: center;
}
div#caracteristicas h2{
    border-top: 1px solid rgb(15, 15, 15);
    border-bottom: 1px solid rgb(15, 15, 15);
    width: 400px;
}
div#caracteristicas h3{
    margin: 0px;
}
div#caracteristicas p{
    margin-bottom: 20px;
}
div#habilidades{
    width: 650px;
    border-left: 1px solid rgb(15, 15, 15);
    margin: 20px 150px 20px 0px;
    padding: 100px 0px;
    text-align: center;
}
div#habilidades h2{
    border-top: 1px solid rgb(15, 15, 15);
    border-bottom: 1px solid rgb(15, 15, 15);
    width: 400px;
}
div#habilidades p{
    margin: 7px;
}
div#projetos{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(15, 15, 15);
    color: rgb(224, 224, 224);
    padding-bottom: 50px;
}
div#intro-projetos{
    margin: 70px;
}
div#intro-projetos h2{
    margin: 100px auto 30px auto;
    border-bottom: 1px solid rgba(224, 224, 224, 0.075);
}

section{
    color: rgb(224, 224, 224);
    display: inline-flex;
    margin: 10px auto;
    background-color: rgb(15, 15, 15);

}
.projeto{
    display: flex;
    width: 900px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.075);
    margin: 40px auto;
    padding: 10px 0px;
}
.projeto h3{
    margin: 0;
    color: rgba(224, 224, 224, 0.418);
}
section > img{
    margin: auto;

}
footer{
    margin: 0;
    height: 160px;
    background-color: rgb(15, 15, 15);
    box-shadow: 1px 1px 2px rgba(114, 114, 114, 0.288);
    border-top: 1px solid rgba(224, 224, 224, 0.075);
}
footer p{
    color: rgb(224, 224, 224);
    margin-top: 60px;
}
h2{
    margin: auto;
}
.pImage{
    right: 0px;
}
.descriptionHolder{
    width: 500px;
    margin: auto;
}
.pTitle{
    text-align: center;
    color: rgb(224, 224, 224);
}
.click-me{
    text-align: center;
    margin-top: 5px;
    color: rgba(224, 224, 224, 0.199);
}
.social{
    margin: auto;
}
.social img{
    margin: 10px;
}
h1{
    margin: auto;
}
div#overlay{
    background-color: rgb(15, 15, 15);
    width: 1349px;
    top: 130px;
    height: 2700px;
    position: absolute;
    color: rgb(224, 224, 224);
}
#overlay img{
    margin: 30px auto 0px auto;
}
#overlay p{
    color: rgba(224, 224, 224, 0.342);
    margin-top: 50px;
}
